body{
   font-style: italic;
}
.main{
    width: 70%;
    margin: 20px auto;
    border :1px solid deeppink;
    padding: 20px;
    background-color: lightcyan;
}
.h2
{
 margin-top: 0px;
}
.encabezado{
    background-color: darkcyan;
     padding: 20px;
     margin-bottom: 45px;
     box-shadow: 3px 10px 34px rgb(176, 236, 35);
}
.mi_cambio{
    background-color:cornflowerblue;
    padding: 78px;
    margin-top:45px;
}